.infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoCard span {
  text-align: center;
  color: var(--text-decoration-color);
}
.infoCard p {
  text-align: center;
  color: var(--light-text-color);
}

.infoCard.lg span {
  font-size: 3rem;
  text-transform: uppercase;
  max-width: 400px;
}

.infoCard.lg p {
  max-width: 400px;
}
