.infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoCard h2,
.infoCard h3,
.infoCard h4,
.infoCard h5,
.infoCard h6 {
  text-align: center;
  color: var(--text-decoration-color);
}
.infoCard p {
  text-align: center;
  color: var(--light-text-color);
}

.infoCard.lg h2,
.infoCard.lg h3,
.infoCard.lg h4,
.infoCard.lg h5,
.infoCard.lg h6 {
  font-size: 3rem;
  text-transform: uppercase;
  max-width: 400px;
}

.infoCard.lg p {
  max-width: 400px;
}
