.iconText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.iconText img {
  width: 17px;
}
.iconText p {
  text-align: left;
  line-height: 1rem;
}
