.authButton {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.authButton ul {
  position: absolute;
  top: calc(100% + 2rem);
  right: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  min-width: 8rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.45s ease-in-out;
  background-color: var(--dropdown-bg);
  box-shadow: 0px 8px 16px 0px var(--dropdown-shadow);
  color: var(--light-text-color);
}
.authButton.show ul {
  opacity: 1;
  visibility: visible;
}
.authButton ul li:hover,
.authButton ul li a:hover {
  color: var(--primary-color);
}
