.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  user-select: none;
  overflow-x: hidden;
  padding: 0 1rem;
}
/* Slider */
.slider {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  cursor: grab;
  transition: all 0.45s ease;
}

/* Slider slide */
.slide {
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.45s ease;
  z-index: 1;
  padding: 4rem 0;
}

.slide span {
  color: var(--text-decoration-color);
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  margin: 2rem 0;
}
.slide p {
  color: var(--dark-text-color);
  max-width: 720px;
  line-height: 2rem;
}
.quoteLeft {
  margin-right: 0.5rem;
}
.quoteRight {
  margin-left: 0.5rem;
}

/* Dots */
.dots {
  display: flex;
  gap: 1rem;
  align-slides: center;
  justify-content: center;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: var(--dark-text-color);
}
.dot.active {
  height: 10px;
  width: 10px;
  background-color: var(--light-text-color);
}
