.button {
  border-radius: 56px;
  color: var(--light-text-color);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 48px;
  min-width: 265px;
  transition: 0.45s;
  font-weight: 600;
}
.button.primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.button.secondary {
  background-color: var(--transparent-white);
  border: 1px solid var(--white);
}
