:root {
  --primary-color: #1b80a4;
  --secondary-color: #1b80a4;
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.1);

  --dark-text-color: #c2bfbf;
  --light-text-color: #ffffff;
  --text-decoration-color: #30c2e2;
}

[data-theme='dark'] {
  --primary-color: #1b80a4;
  --secondary-color: #1b80a4;

  --dark-text-color: #c2bfbf;
  --light-text-color: #ffffff;
  --text-decoration-color: #30c2e2;
}

[data-theme='light'] {
  --primary-color: #174454;
  --secondary-color: #076f94;

  --dark-text-color: #212121;
  --light-text-color: #000000;
  --text-decoration-color: #117e97;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}
p,
a,
button {
  /* TODO => Change to 16px for mobile first */
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
}
h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 600;
}
